body {
    font-family: sans-serif, monospace;
}

h1 {
    font-family:sans-serif, monospace;
    font-weight: bold;
    font-variant: common-ligatures tabular-nums;
    text-align: center;
    color:rgb(0, 0, 0);
}

section {
    margin: 40px;
}

.credentials {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CardPane {
  position:absolute;
  left:50%;
  margin-top:10%;
}

footer {
  background-color: rgb(15, 54, 101);
  color: white;
  bottom: 0px;
  position:absolute;
  overflow:hidden;
  text-align: center;
  height:40.3167px
}

footer>p{
  margin-top: 7px;
  height: auto;
}

.loginBody {
  background-color:rgb(115, 147, 179);
  position:fixed;
  top: 0px;
  bottom: 40.3167px;
}