

h1 {
    font-family:sans-serif, monospace;
    font-weight: bold;
    font-variant: common-ligatures tabular-nums;
    text-align: center;
    color:rgb(0, 0, 0);
}

section {
    margin: 40px;
}

.loginBody {
  background-color:rgb(115, 147, 179);
  position:fixed;
  top: 60.3167px;
}

.CardPane {
  position:absolute;
  left:50%;
  margin-top:10%;
}

footer {
  background-color: rgb(15, 54, 101);
  color: white;
  bottom:60.3167px;
  position:absolute;
  padding: 7px;
  text-align: center;
  height:40.3167px
}
