body {
    font-family: sans-serif, monospace;
}

h1 {
    font-family:sans-serif, monospace;
    font-weight: bold;
    font-variant: common-ligatures tabular-nums;
    text-align: center;
    color:rgb(0, 0, 0);
}

section {
    margin: 40px;
}

.credentials {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loginbtn {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 3px;
    
}