


/* header 1 customization */
h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 23em;
    font-weight: bold;
    font-variant: small-caps;
    text-align:center;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    color:blueviolet;
}

/* header 2 customization */
/* h2{

} */

.credentials{
    
}